$white-000: #fff;
$gray-000: #f8f9fa;
$gray-100: #f1f3f5;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$cyan-000: #e3fafc;
$cyan-100: #c5f6fa;
$cyan-200: #99e9f2;
$cyan-300: #66d9e8;
$cyan-400: #3bc9db;
$cyan-500: #22b8cf;
$cyan-600: #15aabf;
$cyan-700: #1098ad;
$cyan-800: #0c8599;
$cyan-900: #0b7285;

$teal-000: #e6fcf5;
$teal-100: #c3fae8;
$teal-200: #96f2d7;
$teal-300: #63e6be;
$teal-400: #38d9a9;
$teal-500: #20c997;
$teal-600: #12b886;
$teal-700: #0ca678;
$teal-800: #099268;
$teal-900: #087f5b;

$orange-000: #fff4e6;
$orange-100: #ffe8cc;
$orange-200: #ffd8a8;
$orange-300: #ffc078;
$orange-400: #ffa94d;
$orange-500: #ff922b;
$orange-600: #fd7e14;
$orange-700: #f76707;
$orange-800: #e8590c;
$orange-900: #d9480f;

$red-000: #fff5f5;
$red-100: #ffe3e3;
$red-200: #ffc9c9;
$red-300: #ffa8a8;
$red-400: #ff8787;
$red-500: #ff6b6b;
$red-600: #fa5252;
$red-700: #f03e3e;
$red-800: #e03131;
$red-900: #c92a2a;

//font-family: "Lora", sans-serif;
// font-family: "DM Serif Text", serif; //Use the italic for accel
//font-family: "Roboto" //Used in main cta btns

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 2rem;
  font-size: 1.6rem;
  background: $gray-200;
  font-family: "Lato", sans-serif; //<p> text font
  //   font-family: "Roboto", sans-serif; //<p> text font
  max-width: 50rem;
  height: 80vh;
  margin: 2rem auto;
  padding: 0 0.5rem;
  position: relative;
}
