@mixin quotes {
  font-size: 3rem;
  font-weight: 900;
}

.header {
  background-color: $cyan-000;
  margin-bottom: 0.3rem;
  &__accel-logo {
    font-family: "DM Serif Text";
    color: $gray-700;
    font-size: 2.6rem;
    margin: 2rem;
  }
  &__quote {
    font-family: "Lora";
    margin-top: 3rem;
    padding: 0 2rem;

    &-text {
      line-height: 5rem;
      &:before {
        content: "“";

        @include quotes;
      }
      &:after {
        content: "”";
        @include quotes;
      }
    }

    &-author {
      font-size: 1.2rem;
      margin: 4rem 0 0 3rem;
      .header__quote-name {
        font-weight: 600;
      }
      .header__quote-position {
      }
    }
  }
}
